<div class="container">
    <div class="row">
        <div class="col">
            <div>
                
                {{iPadre+1}}: {{empleadoPadre.nombre}} {{empleadoPadre.apellido}} {{empleadoPadre.cargo}} {{empleadoPadre.salario}}

                <button [routerLink]="['/actualiza', iPadre]" [queryParams]="{accion:'1'}" class="btn btn-success">Modificar</button>
                <button [routerLink]="['/actualiza', iPadre]" [queryParams]="{accion:'2'}" class="btn btn-danger">Eliminar</button>

            </div>

            <div>
                <ul style="list-style: none;">
                    <li *ngFor="let item of arrayCaracteristicas">{{item}}</li>
                  </ul>
            </div>

            <div>
                <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
            </div>
        </div>
    </div>
</div>
